.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
  color: white;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
  color: black;
}

.cover {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin: 20px 0;
  border-radius: 12px;
}

.platforms {
  display: flex;
  gap: 8px;
  opacity: 0.8;
}

.platIcon {
  background: #333;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}

.desc {
  white-space: pre-line;
  color: black;
}

.readMore {
  margin-top: 10px;
  padding: 6px 12px;
  background: #000000;
  opacity: 100%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.infoGrid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  font-size: 15px;
  color: black;
}

.systemReq {
  margin-top: 30px;
  color: black;
  max-height: 600px;
}

.screens {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap: 12px;
}

.screens img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid rgba(255,255,255,0.3);
  border-top-color: #000000;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.screenImg {
  cursor: zoom-in;
  border-radius: 8px;
  transition: .2s;
  cursor: pointer;
   will-change: transform;
}
.screenImg:hover {
  transform: scale(1.03);
}

/* ----------------- FULLSCREEN VIEW ----------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999;
  cursor: zoom-out;
}

.modalImg {
  max-width: 95vw;
  max-height: 95vh;
  border-radius: 10px;

  cursor: default;
  animation: zoom .25s ease;
}

@keyframes zoom {
  from { transform: scale(0.7); opacity: 0; }
  to   { transform: scale(1);   opacity: 1; }
}
