.header {
  width: 100%;
  background: white;
  padding: 16px 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #000;
}

.searchWrapper {
  position: relative;
  width: 1300px;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  opacity: 1;
}

.searchInput {
  width: 100%;
  padding: 10px 12px 10px 40px;
  border-radius: 30px;
  border: none;
  background: #d9d9d9;
  font-size: 16px;
  color: #333;
  transition: background 0.2s ease;
}

.searchInput::placeholder {
  color: #999;
}

.searchInput:hover {
  background: #cfcfcf;
}

.searchInput:focus {
  outline: none;
  background: #c8c8c8;
}

.clearIcon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s;
}

